<div class="quiz">
  <div class="solo-timer">
    <p class="no-margin solo-timer-text text-center">30s</p>
  </div>
  <div class="question-wrapper">
    <p class="question-text no-margin">{{question.question}}</p>
  </div>
  <div class="options-wrapper row">
    <div *ngFor="let opt of question.options; let i=index;" [ngClass]="{ option: true, 'col-md-6': true, selected: isClicked(opt.value)}" (click)="choose(opt.value)">
      <p class="option-num no-margin">{{i}}</p>
      <p class="option-text no-margin">{{opt.text}}</p>
    </div>
  </div>
  <div class="action-wrapper">
    <div class="actions" *ngIf="!isAdminConsole">
      <button class="btn btn-primary q-btn">Submit</button>
    </div>
    <div class="timer">
      <p class="no-margin timer-text text-center">30s</p>
    </div>
  </div>
</div>