/* You can add global styles to this file, and also import other style files */
body {
  background: #000;
  background-image: url('./assets/images/bg.jpg');
  background-size: contain;
  color: #fff;

  * {
    color: #fff;
  }
}

.hide {
  display: none;
}

.required {
  &::after {
    content: "*";
    margin: 0 5px;
  }
}

.no-margin{
  margin: 0;
}

.field-label {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.q-btn{
  background: linear-gradient(45deg, #6b1c85, transparent);
  border-color: #6b1c85;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s;

  &:disabled {
    background: linear-gradient(45deg, #6b1c85, transparent);
    border-color: #6b1c85;

    &:hover,
      &:focus{
        background: linear-gradient(45deg, #6b1c85, transparent);
        border-color: #6b1c85;
      }
  }

  &:hover,
    &:focus{
    background-color: #6b1c85;
    border-color: #6b1c85;
  }
}

.q-link {
  color: #6b1c85;
  transition: all 1s;
  text-shadow: 1px 1px #fff;

  &:hover,
    &:focus,
      &:active{
      text-shadow: 1px 1px #fff;
      text-decoration: none;
      color: #6b1c85;
      font-weight: bold;
      letter-spacing: 1px;
      // border-bottom: 1px solid;
  }
}